:root {
  --background-color: #182D18;
  --background-color-dark: #0D1B0D;
  --tagline-text-color: #D6D1FF;
  /* --tagline-text-color: #e5e2fd; */
  --description-text-color: #638363;
  --default-text-color: #224022;
  --modal-header-background-color: #3073BB;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, var(--background-color), var(--background-color-dark));
  background-repeat: no-repeat;
  color: var(--default-text-color);
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: #224022;
}

*, *::after, *::before {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,div,span,svg,p {
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  top: -8%;
  left: 0;
  right: 0;
  width: 100%;
  height: 10vh;
  color: var(--tagline-text-color);
  filter: brightness(.8);
  font-size: 1.6rem;
}

nav .container {
  display: flex;
  justify-content: flex-end;
}

nav .container a {
  transition: filter 200ms ease-in-out;
}

nav .container a:not(:last-child) {
  margin-right: 3.8rem;
}

nav .container a:hover {
  filter: brightness(.65);
}

.container {
  width: 78%;
  margin: 0 auto;
}

.illustration {
  width: 36%;
  height: 36%;
  position: absolute;
  z-index: -1;
}

.illustration:first-child {
  bottom: 10%;
  left: -8%;
}

.illustration:nth-child(2) {
  bottom: 48%;
  left: 8%;
}

.illustration:nth-child(3) {
  top: -26%;
  right: -12%;
}

.illustration img {
  width: 100%;
}

.my-awesome-portfolio {
  margin-top: 12vh;
}

.my-awesome-portfolio .hi-there,
.my-awesome-portfolio .hi-there a {
  font-size: 10rem;
  font-weight: 900;
  color: var(--tagline-text-color);
  text-shadow: 3px 3px 6px var(--background-color-dark);
  transition: text-shadow 150ms ease-in-out;
  text-decoration: none;
}

.my-awesome-portfolio .hi-there:hover a,
.my-awesome-portfolio .hi-there:hover {
  text-shadow: 3px 3px 6px #D6D1FF22;
}

.my-awesome-portfolio .description-of-me {
  margin-top: 5vh;
  margin-left: 40vw;
  letter-spacing: 0.36rem;
  font-size: 2.4rem;
  font-weight: lighter;
  font-style: italic;
  color: var(--description-text-color);
  text-shadow: 2px 2px 8px rgb(138, 135, 160, .4);
}

.social-media-container {
  width: 50%;
  margin: 14vh auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-container .social-media-to-follow {
  flex: 0 1 2rem;
  cursor: pointer;
  transition: filter 200ms ease-in-out;
}

.social-media-container .social-media-to-follow:not(:last-child) {
  margin-right: 1rem;
}

.social-media-container .social-media-to-follow:hover {
  filter: blur(1px);
}

.just-proud-of-myself {
  margin-top: 3vh;
  text-align: center;
  font-size: 1.6rem;
}

.just-proud-of-myself p::selection,
.just-proud-of-myself p a::selection {
  background-color: #5b855b;
  color: white;
}

.just-proud-of-myself a {
  text-decoration: none;
  color: inherit;
  transition: color 200ms ease-in-out;
}

.just-proud-of-myself a:hover {
  color: var(--tagline-text-color);
}



/* MODAL */

#modalContainer {
  background-color:rgba(0, 0, 0, 0.5);
  position:absolute;
  z-index: 3;
  width:100%;
  height:100%;
  top:-20%;
  left:0px;
  z-index:10000;
}

#alertBox {
  width:60%;
  margin: 30vh auto 0;
  border-radius: 12px;
  background-color: white;
  overflow: hidden;
}

#alertBox h1 {
  font:bold 0.9em verdana,arial;
  background-color: var(--modal-header-background-color);
  color: white;
  font-size: 2rem;
  padding:2rem 0 2rem 5rem;
}

#alertBox p {
  margin: 3rem 0;
  padding: 0 12rem;
  font-size: 1.6rem;
}

#alertBox #closeBtn {
  display:block;
  width: 10rem;
  margin: 0 auto 1rem;
  padding: 1rem 2.6rem;
  border-radius: 3px;
  background-color: var(--modal-header-background-color);
  color: white;
  font-size: 1.6rem;
  text-align: center;
}





/*
 * RESPONSIVITY MEDIA QUERIES
 */

 @media only screen and (max-width: 769px) {
  nav .container a {
    font-size: 1.1rem;
  }

  nav .container a:not(:last-child) {
    margin-right: 1.8rem;
  }

  .illustration {
    width: 50%;
  }

  .illustration:first-child {
    bottom: 20%;
    left: -8%;
  }
  
  .illustration:nth-child(2) {
    bottom: 38%;
    left: 12%;
  }
  
  .illustration:nth-child(3) {
    top: -20%;
    right: -10%;
  }
  
  .my-awesome-portfolio .hi-there, .my-awesome-portfolio .hi-there a{
    font-size: 6rem;
  }
  
  .my-awesome-portfolio .description-of-me {
    margin-top: 5vh;
    font-size: 2.1rem;
    margin-left: 32vw;
  }

  #alertBox {
    width:80%;
  }

  #alertBox p {
    padding: 0 6rem;
  }
}


@media only screen and (max-width: 630px) {
  .illustration {
    width: 50%;
  }

  .illustration:first-child {
    bottom: 30%;
    left: -16%;
  }
  
  .illustration:nth-child(2) {
    bottom: 38%;
    left: 12%;
  }

  .my-awesome-portfolio .description-of-me {
    margin-top: 5vh;
    font-size: 1.4rem;
    margin-left: 30vw;
  }
}


@media only screen and (max-width: 520px) {
  .illustration {
    width: 50%;
  }

  .illustration:first-child {
    bottom: 30%;
    left: -16%;
  }
  
  .illustration:nth-child(2) {
    bottom: 38%;
    left: 12%;
  }
}


@media only screen and (max-width: 420px) {
  .illustration:first-child {
    display: none;
  }

  .illustration:nth-child(2) {
    width: 76%;
    left: -10%;
    bottom: 50%;
  }

  .illustration:nth-child(3) {
    top: -14%;
    right: -10%;
  }
  
  .my-awesome-portfolio .hi-there, .my-awesome-portfolio .hi-there a{
    font-size: 4.6rem;
  }
  
  .my-awesome-portfolio .description-of-me {
    margin-top: 5vh;
    font-size: 1.3rem;
    margin-left: 30vw;
  }
}

@media only screen and (max-width: 380px) {
  .my-awesome-portfolio .description-of-me {
    margin-top: 5vh;
    font-size: 1.2rem;
    margin-left: 20vw;
  }
}