<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="./images/icons/icon-192x192.png">

  <meta name="theme-color" content="#8A2BE2">

  <meta name="title" content="Rully Ihza Mahendra" />
  <meta name="description"
    content="Rully Ihza Mahendra's Page | I am a Software Enthusiast and Github contributor based in Semarang, Indonesia." />
  <meta name="keywords"
    content="Rully Ihza Mahendra, rllyhz, @rllyhz, Web Developer, Android Developer, Web Design, Software Enthusiast, Github contributor, GitHub, GitHub Pages" />
  <meta name=”robots” content="index, follow" />
  <!-- <meta name="my-app-name" content="WebApp">
  <meta name="description" content="Github Pages WebApp"> -->
  <link rel="canonical" href="https://rllyhz.github.io" />
  <link rel="canonical" href="https://rllyhz.github.io/login" />
  <link rel="canonical" href="https://rllyhz.github.io/projects" />

  <!-- BOX ICONS -->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <!-- SCROLL REVEAL -->
  <script src="https://unpkg.com/scrollreveal" defer></script>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">

  <title>Rllyhz's Github Pages</title>
</head>
<body>
  <!-- @author: Rully Ihza Mahendra -->
  <!-- @github: https://github.com/rllyhz -->

  <!-- Should render automatically here -->
</body>
</html>