.container {
  max-width: 85vw;
  background-color: white;
  margin: 2rem auto 1.5rem;
  padding: 1rem 1.4rem;
  border-radius: 4px;
  box-shadow: 1px 1px 12px rgba(70, 23, 113, 0.064);
}
.container .form-control {
  display: flex;
  flex-direction: column;
}
.container .form-control:not(:last-child) {
  margin-bottom: 1.2rem;
}
.container .form-control label {
  margin-bottom: .5rem;
  font-size: 1rem;
}
.container .form-control input,
.container .form-control textarea,
.container .form-control select {
  border: 1px solid gray;
  min-height: 2.2rem;
  border-radius: 4px;
  font-size: 1rem;
  padding: .6rem;
}
.container .form-control textarea {
  resize: vertical;
}
.container .form-control .form-chips {
  display: flex;
  flex-direction: column;
}
.container .form-control .form-chips .chips {
  margin-top: 0;
}
.container .form-control .form-chips .chip-item {
  display: inline-block;
  background-color: rgb(182, 182, 182);
  font-size: .65rem;
  border-radius: 50px;
  padding: .2rem .8rem;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  margin-bottom: .2rem;
  margin-bottom: .2rem;
}
.container .form-control .form-chips .chip-item:not(:last-child) {
  margin-right: .25rem;
}
.container .form-control .form-chips .chip-item:hover {
  background-color: blueviolet;
  filter: brightness(.8);
  color: white;
}
.container .form-control .form-chips .chip-item.selected {
  background-color: blueviolet;
  color: white;
}
.container .form-control .form-chips .chip-item:active {
  filter: brightness(1);
}
.container .form-control .form-chips .selected-chips {
  min-height: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gray;
  border-radius: 4px;
  padding: .6rem;
  margin-top: .55rem;
}
.container .form-control .form-chips .selected-chips + input {
  display: none;
}
.container .form-control .form-chips .selected-chips .chip-item {
  background-color: violet;
}
.container .form-control .btn {
  border: none;
  padding: .8rem 0;
  border-radius: 4px;
  transition: filter 200ms ease-in-out;
  cursor: pointer;
}
.container .form-control .btn:hover {
  filter: brightness(.9);
}
.container .form-control .btn:not(:last-child) {
  margin-top: 1rem;
}
.container .form-control .btn:last-child {
  margin-top: .4rem;
}
.container .form-control .btn.btn-add,
.container .form-control .btn.btn-edit {
  background-color: blueviolet;
  color: white;
}
.container .form-control .btn.btn-cancel {
  background-color: #d5bdeb;
  color: #412957;
}
.container.loading {
  width: 80%;
  min-height: 80vh;
  background-color: var(--loading-color);
  box-shadow: 0 4px 6px rgba(14,36,49,.15);
  border-radius: .5rem;
}
@media only screen and (min-width: 620px) {
  .container {
    max-width: 48vw;
  }
  .container.loading {
    margin: 2rem auto;
  }
}